body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    color: #bdbdbd;
    padding: 15px;
    text-align: left;
}

main {
    width: 500px;
    margin: 40px auto;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.done span {
    text-decoration: line-through;
    color: gray;
}

.title {
    text-align: left;
    margin-left:-60px;
}
