body {
  margin: 0;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;   
  align-items: center;      
}

.container {
  display: flex;
  gap: 60px;                
}

.left-block {
  max-width: 500px;
}

.left-block h1 {
  color: #1877f2;
  font-size: 56px;
  margin-bottom: 10px;
}

.left-block p {
  font-size: 20px;
  line-height: 26px;
  max-width: 360px;
}

.right-block {
  background-color: white;
  width: 360px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right-block input {
  height: 48px;
  padding: 0 14px;
  font-size: 16px;

  border: 1px solid #ddd;
  border-radius: 6px;
}
.login-btn {
  height: 48px;
  background-color: #1877f2;
  color: white;

  border: none;
  border-radius: 6px;

  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.forgot {
  text-align: center;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
}
hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}
.create-btn {
  background-color: #42b72a;
  color: white;

  border: none;
  border-radius: 6px;

  height: 44px;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  align-self: center;
  padding: 0 20px;
}
.page-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  max-width: 360px;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
